.container2 {
    background-color:#E4F7DD;
}

#map {
    width:50%;
    height:450px;
    margin:20px 100px 20px 40px;
}

.col-xs-4 {
    margin-top:20px;
    padding:2%;
}

@media only screen and (max-width:800px) {
    #map{
        width:92%;
        margin: 0 0 0 6%;
    }

    .blk {
        width:100%;
        margin: 0 0 0 2%;
    }
}

@media only screen and (max-width:500px) {
    .blk {
        margin: 0 0 0 3%;
    }
        #map{
        width:92%;
        margin: 0 0 0 7%;
    }
}

@media only screen and (max-width:400px) {
    .blk {
        margin: 0 0 0 3.5%;
    }
        #map{
        width:92%;
        margin: 0 0 0 7.8%;
    }
}