/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  margin: 0;
  background-color: rgba(209, 209, 209, 0.774);
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  
}

/* Position the image container (needed to position the left and right arrows) */
.container_slides {
  position: relative;
  max-height: 40%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 150%;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2%;
  border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  font-family:monospace;
  font-size: 20px;
  text-align: center;
  background-color: rgb(105, 103, 103);
  padding: 2px 16px;
  color: white;
}

div.scroll{
  margin-top: 2%;
    width: 100%;
}

.row{
  margin-top: 2%;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear:both;
  }
  
  /* Six columns side by side */
  .column {
    position: relative;
    width: 20%;
    top: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
  opacity: 0.8;
}

.active,
.demo:hover {
  opacity: 1;
}


@media screen and (max-width: 425px) {
    .container_slides{
      margin-left: 0%;
      margin-right: 0%;
      margin-bottom: 0%;
      width: 100%;
    }
    .scroll{
        visibility: hidden;
    }
    
}

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .navbar-dark {
    background-color: #512DA8; }

    .footer {
      background-color: #D1C4E9;
      margin: 0px auto;
      padding: 20px 0px; }