* {
  font-family: "poppins",sans-serif;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
}

body{
  background: #FFFFFF;
}

/* .background{
  background-image:url('gray-color-cotton-texture-surface-background-min.jpg');
  background-repeat: no-repeat;  
  background-size: cover;
  opacity: 0.5;
} */

.container{
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  column-count: 4;
  padding: 20px;
}

.image{
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}

img{
  width: 100%;
  /* opacity: 0.5; */
  transition: 0.25 ease-in-out;
}

.image:hover img{
  transform: scale(1.1);
}

.img{
  opacity: 1;
}


h1{
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background: #5c5c5c;
  color: #ffffff;
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25 ease-in-out;
}

h2{
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 40px;
  color: #807e7e;
  z-index: 1;
  transition: 0.25 ease-in-out;
}

.image:hover h1{
  opacity: 0.5;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 72%; /* Full height */
  margin-top: 1.65%;
  margin-left: 15%;
  margin-right: 15%;
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: 0;
  display: block;
  width: 100%;
  /* max-width: 700px; */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 20px;
}

/* Add Animation */
.mySlides, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 2%;
  right: 5%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .mySlides {
      display: none;
  transition: .5s ease;
}

.prev,
.next {
    cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 150%;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2%;
  border-radius: 3px 0 0 3px;
}

.numbertext {
    color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
    font-family:monospace;
  font-size: 20px;
  text-align: center;
  background-color: rgb(65, 64, 64);
  padding: 2px 0px;
  /* color: white;/ */
}

/* 100% Image Width on Smaller Screens */


@media screen and (max-width: 1024px){
  h1{
      font-size: 20px;
  }
}

@media screen and (max-width: 768px){
  .container{
      column-count: 3;
  }
  .modal{
      margin-left: 2.5%;
      margin-right: 2.5%;
      width: 95%;
      height: 45%;
  }
  .prev,
  .next {
      top: 70%;
  }
}

@media screen and (max-width: 425px){
  .container{
      column-count: 2;
  }
  .modal{
      margin: 0%;
      width: 100%;
      height: 22%;
  }
  .prev,
  .next {
      top: 70%;
  }
  .caption-container{
      font-size: 12px;
  }
  h1{
      font-size: 12px;
  }
}

@media screen and (max-width: 375px){
.container{
  column-count: 1;
}
.caption-container{
  font-size: 14px;
}
h1{
  font-size: 15px;
}
.modal{
  height: 8%;
}
.prev,
.next {
  top: 60%;
}
}
