.darktheme{
    background-color: black;
}
.whitecol{
    color: white;
}
.whitecol1{
    color: rgb(255, 196, 0);
}
.whitecol2{
    color: greenyellow;
}*/



/*.lighttheme{
    background-color: white;
}*/

/*@media (prefers-color-scheme: dark) {
  /* all your styles for dark mode here */
/*}*/



  
 



  .row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }
  
  .footer {
    background-color: black;
    margin: 0px auto;
    padding: 20px 0px; }

  


  /*.jumbotron{
    margin: 0px auto;
    padding: 70px 30px;
    background-color: black;
    color: rgb(0, 0, 0); }*/

  .jumbotrone {
    padding:2rem 1rem;
    margin-bottom:2rem;
    background-color:#1e1f20;
    border-radius:.3rem;
  }
  
  @media (min-width:576px){
    .jumbotrone {
      padding:4rem 2rem;
    }}
  
  .jumbotrone-fluid {
    padding-right:0;
    padding-left:0;
    border-radius:0;
  }

  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; }
  
  body {
    padding: 50px 0px 0px 0px;
    z-index: 0; }
  
  .navbar-dark {
    background-color: black; }
  
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  
  .carousel {
    background: black; }
    .carousel .carousel-item {
      height: 300px; }
      .carousel .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; }
  
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }
  
  .modal-header {
    background-color: black; }
    .modal-header .modal-title {
      background-color: black;
      color: #fffaf0; }
      .modal-header .modal-title button {
        color: #fffaf0; }
  
  .modal-body {
    background-color: #D1C4E9; }
  
  .modcssw {
    padding: 12px;
  }
  
  .colcorr {
    color: black;
  }
  
  .btcorr {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /*.carouselup{
    height: 400px;
  }*/
  
  /*.imuppp{
    height: 700px;
  }*/
  .extracsswhole{
    transition: 0.2s;
    background: linear-gradient(315deg,#4dff03,#00d0ff);
  }
  
  .extracsswhole:hover {
    transform: translateY(-1.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg,#ffbc00,#ff0058);
  }

  .textucss{
    color: white;
  }

  .fuecss{
    background-color: #1e1f20;
  }

  .textucss1{
    color: rgb(1, 49, 13);
  }

  .corpoucss{
    background-color: #1e1f20;
  }

  .corpoucss1{
    background-color: #0275d8;
    color: white;
  }

  .backiev{
    background-color: #1e1f20;
  }

  .textucss2{
    color: rgb(34, 212, 78);
  }

  .textucss3{
    color: white;
  }








  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:95%;
    width:100%;
    position:absolute;
    }