.darktheme{
  background-color: black;
}
.whitecol{
  color: white;
}
.whitecol1{
  color: rgb(255, 196, 0);
}
.whitecol2{
  color: greenyellow;
}*/



/*.lighttheme{
  background-color: white;
}*/

/*@media (prefers-color-scheme: dark) {
/* all your styles for dark mode here */
/*}*/








.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px; }




/*.jumbotron{
  margin: 0px auto;
  padding: 70px 30px;
  background-color: black;
  color: rgb(0, 0, 0); }*/

.jumbotrone {
  padding:2rem 1rem;
  margin-bottom:2rem;
  background-color:#1e1f20;
  border-radius:.3rem;
}

@media (min-width:576px){
  .jumbotrone {
    padding:4rem 2rem;
  }}

.jumbotrone-fluid {
  padding-right:0;
  padding-left:0;
  border-radius:0;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: black;
  opacity: 0.9; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox:checked + .toggle {
    background-color: #eee;
    box-shadow: -8px -7px inset #ddd;
  }
  
  .checkbox:checked + .toggle {
    transform: rotateY(180deg);
  }
  
  .checkbox:checked + .toggle ul {
    display: none;
  }
  
  .toggle {
    display: flex;
    width: 40px;
    height: 40px;
    /* background-color: #eee;
    box-shadow: -8px -7px inset #ddd; */
    background-color: #ffcb05;
    box-shadow: none;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    /* margin: auto; */
    transition: all 300ms ease-in;
    transform-style: preserve-3d;
  }
.carousel {
  background: black; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  background-color: black; }
  .modal-header .modal-title {
    background-color: black;
    color: #fffaf0; }
    .modal-header .modal-title button {
      color: #fffaf0; }

.modal-body {
  background-color: #D1C4E9; }

.modcssw {
  padding: 12px;
}

.colcorr {
  color: black;
}

.btcorr {
  padding-left: 15px;
  padding-right: 15px;
}


.textfoot{
  font-size: larger;
  color: #fefeffce;
}


.chat-list {
  padding: 0;
  font-size: .8rem;
  
}

.chat-list li {
  margin-bottom: 10px;
  overflow: auto;
  color: #f8f7f7;
  
}

.chat-list .chat-img {
  float: left;
  width: 70px;
 
}

.chat-list .chat-img img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 100%;
}

.chat-list .chat-message {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 2%;
  background: #2d2d2d;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.chat-list .chat-message:before {
  content: "";
  position: absolutes;
  top: 15px;
  width: 0;
  height: 0;
}

.chat-list .chat-message h5 {
  margin: 0 0 5px 0;
  font-weight: 600;
  line-height: 100%;
  font-size: .9rem;
}

.chat-list .chat-message p {
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.chat-list .chat-body {
  margin-left: 1%;
  float: left;
  width: 70%;
}


.chat-list .out .chat-img {
  float: right;
}

.chat-list .out .chat-body {
  float: right;
  margin-right: 1%;
  text-align: right;
}

.chat-list .out .chat-message {
  background: #2d2d2d;
}

.chat-list .out .chat-message:before {
  right: -12px;
  border-bottom: 20px solid transparent;
  border-left: 20px #ffffff;
}

.card .card-header:first-child {
  -webkit-border-radius: 0.3rem 0.3rem 0 0;
  -moz-border-radius: 0.3rem 0.3rem 0 0;
  border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
  background: black;
  border: 0;
  font-size: 1rem;
  padding: .65rem 1rem;
  position: relative;
  font-weight: 600;
  color: #ffffff;
}

.content{
  margin-top:40px;    
}


#button {
  display: inline-block;
  background-color: #0e0d0fef;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
@media (max-width: 500px) {
  .textfoot{
    font-size: 13px;
  }
}

.btn{
  margin: 1%;
}

/*.carouselup{
  height: 400px;
}*/

/*.imuppp{
  height: 700px;
}*/
.extracsswhole{
  transition: 0.2s;
  background: linear-gradient(315deg,#4dff03,#00d0ff);
}

.extracsswhole:hover {
  transform: translateY(-1.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg,#ffbc00,#ff0058);
}

.textucss{
  color: white;
}

.fuecss{
  background-color: #1e1f20;
}

.textucss1{
  color: rgb(1, 49, 13);
}

.corpoucss{
  background-color: #1e1f20;
}

.corpoucss1{
  background-color: #0275d8;
  color: white;
}

.backiev{
  background-color: #1e1f20;
}

.textucss2{
  color: rgb(34, 212, 78);
}

.textucss3{
  color: white;
}


/* social media icons */
@media screen and (min-width: 500px){
  .icon-bar {
    /* visibility: hidden; */
    position: fixed;    
    top: 30%;                                                                                                          
    right: 0%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    width: 5%;
  }
  
}

.icon-bar a {
  margin-right: 0%;
  display: block;
  text-align: center;
  padding-left: 2%;
  padding-right: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: all 0.6s ease;
  color: white;
  font-size: 4vmin;
}

.icon-bar a:hover {
  padding-right: 30%;
}

.facebook {
  background: #3B5998;
  color: #ffffff;
}

.linkedin {
  background: #007bb5;
  color: #ffffff;
}


.instagram {
  background: #f26d00;
  color: #ffffff;
}


.youtube {
  background: #bb0000;
  color: #ffffff;
}

.mail {
  background: #bb003e;
  color: #ffffff;
}





.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:95%;
  width:100%;
  position:absolute;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }







  @import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
  :root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
 }
 
 
 /* * {
    box-sizing: border-box;
 }
  html, body {
    height: 100%;
 }
  body {
    display: grid;
    place-items: center;
 }*/
  /* Event page content */
.page-contentuuuu {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  /*max-width: 1024px;*/
  max-width: 1920px;
  margin: 0 auto;
  font-family: var(--font-sans);
 }
 @media (min-width: 600px) {
  .page-contentuuuu {
    grid-template-columns: repeat(2, 1fr);
 }
 }
 @media (min-width: 800px) {
  .page-contentuuuu {
    grid-template-columns: repeat(3, 1fr);
 }
 }
 .carduuuu {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
 }
 @media (min-width: 600px) {
  .carduuuu {
    height: 350px;
 }
 }
 .carduuuu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
 }
 .carduuuu:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
 }
 .carduuu:nth-child(1):before {
  background-image: url("imagesteam/Professional_development_week.jpg");
 }
 .carduuuu:nth-child(1):before {
  background-image: url("imagesteam/Carrer_page.jpg");
 }
 .carduuuu:nth-child(2):before {
  background-image: url("imagesteam/Gramkatha.jpg");
 }
 .carduuuu:nth-child(3):before {
  background-image: url("imagesteam/K-12_gravitation.jpg");
 }
 .carduuuu:nth-child(4):before {
  background-image: url("imagesteam/Event (2).jpeg");
 }
 .carduuuu:nth-child(5):before {
  background-image: url("imagesteam/Event (1).jpeg");
 }
 .carduuuu:nth-child(6):before {
  background-image: url("imagesteam/Bid_n_win.jpg");
 }
 .carduuuu:nth-child(7):before {
   background-image: url("imagesteam/Event (3).jpeg");
 }
 .carduuuu:nth-child(8):before {
  background-image: url("imagesteam/Event (5).jpeg");
 }
 .carduuuu:nth-child(9):before {
  background-image: url("imagesteam/Event (4).jpeg");
 }
 .carduuuu:nth-child(10):before {
  background-image: url("imagesteam/Event (6).jpeg");
 }
 .carduuuu:nth-child(11):before {
  background-image: url("imagesteam/Art_e_culate.jpg");
 }
 .carduuuu:nth-child(12):before {
  background-image: url("imagesteam/Event (8).jpeg");
 }
 .carduuuu:nth-child(13):before {
   background-image: url("imagesteam/Event (8).jpeg");
  }
  .carduuuu:nth-child(14):before {
   background-image: url("imagesteam/Professional_development_week.jpg");
  }
 .contentuuuu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
 }
 .contentuuuu > * + * {
  margin-top: 1rem;
 }
 .titleuuuu {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
 }
 .copyuuuu {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
 }
 
 /* home page content */
 .page-contentuuu {
   display: grid;
   grid-gap: 1rem;
   padding: 1rem;
   /*max-width: 1024px;*/
   max-width: 1920px;
   margin: 0 auto;
   font-family: var(--font-sans);
  }
  @media (min-width: 600px) {
   .page-contentuuu {
     grid-template-columns: repeat(2, 1fr);
  }
  }
  @media (min-width: 800px) {
   .page-contentuuu {
     grid-template-columns: repeat(3, 1fr);
  }
  }
  .carduuu {
   position: relative;
   display: flex;
   align-items: flex-end;
   overflow: hidden;
   padding: 1rem;
   width: 100%;
   text-align: center;
   color: whitesmoke;
   background-color: whitesmoke;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 600px) {
   .carduuu {
     height: 350px;
  }
  }
  .carduuu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
   }
   .carduuu:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
   }
  .carduuu:nth-child(1):before {
   background-image: url("imagesteam/Professional_development_week.jpg");
  }
  .carduuu:nth-child(2):before {
   background-image: url("imagesteam/Carrer_page.jpg");
  }
  .carduuu:nth-child(3):before {
   background-image: url("imagesteam/Gramkatha.jpg");
  }
  .contentuuu {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   padding: 1rem;
   transition: transform var(--d) var(--e);
   z-index: 1;
  }
  .contentuuu > * + * {
   margin-top: 1rem;
  }
  .titleuuu {
   font-size: 1.3rem;
   font-weight: bold;
   line-height: 1.2;
  }
  .copyuuu {
   font-family: var(--font-serif);
   font-size: 1.125rem;
   font-style: italic;
   line-height: 1.35;
  }
  .btnuuuu {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
 }
  .btnuuuu:hover {
    background-color: #0d0d0d;
 }
  .btnuuuu:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
 }@media (hover: hover) and (min-width: 600px) {
  .carduuuu:after, .carduuu:after {
    transform: translateY(0);
 }
  .contentuuuu, .contentuuu {
    transform: translateY(calc(100% - 4.5rem));
 }
  .contentuuuu > *:not(.titleuuuu), .contentuuu > *:not(.titleuuu)  {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
 }
  .carduuuu:hover, .carduuuu:focus-within, .carduuu:hover, .carduuu:focus-within {
    align-items: center;
 }
  .carduuuu:hover:before, .carduuuu:focus-within:before, .carduuu:hover:before, .carduuu:focus-within:before {
    transform: translateY(-4%);
 }
  .carduuuu:hover:after, .carduuuu:focus-within:after, .carduuu:hover:after, .carduuu:focus-within:after {
    transform: translateY(-50%);
 }
  .carduuuu:hover .contentuuuu, .carduuuu:focus-within .contentuuuu, .carduuu:hover .contentuuu, .carduuu:focus-within .contentuuu  {
    transform: translateY(0);
 }
  .carduuuu:hover .contentuuuu > *:not(.titleuuuu), .carduuuu:focus-within .contentuuuu > *:not(.titleuuuu),.carduuu:hover .contentuuu > *:not(.titleuuu), .carduuu:focus-within .contentuuu > *:not(.titleuuu)  {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
 }
  .carduuuu:focus-within:before, .carduuuu:focus-within:after, .carduuuu:focus-within .contentuuuu, .carduuuu:focus-within .contentuuuu > *:not(.titleuuuu), .carduuu:focus-within:before, .carduuu:focus-within:after, .carduuu:focus-within .contentuuu, .carduuu:focus-within .contentuuu > *:not(.titleuuu) {
    transition-duration: 0s;
 }
 }
  
 .carousel{
  width:65.88%;
  height:20.88%;
  margin:auto;
}

@media screen and (max-width: 425px) {
  .carousel{
    background-color: #03a9f4;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 100%;
    height: 100%;
  }
}