/* * {
    font-family: "poppins",sans-serif;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
} */

body{
    background: #FFFFFF;
}

.backgrounduu{
    top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.containeruu{
    /* margin-left: 5%;
    margin-right: 5%; */
    width: 100%;
    position: relative;
    column-count: 4;
    padding: 5% 5%;
}

.imageuu{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
}

.imguu{
    width: 100%;
    /* opacity: 0.5; */
    transition: 0.25 ease-in-out;
    opacity: 1;
}

.imageuu:hover .imguu{
    transform: scale(1.1);
}


h1{
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    background: #5c5c5c;
    color: #ffffff;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25 ease-in-out;
}

h2{
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 40px;
    color: #807e7e;
    z-index: 1;
    transition: 0.25 ease-in-out;
}

.imageuu:hover h1{
    opacity: 0.5;
}


/* The Modal (background) */
.modaluu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 6.5%;
    width: 60%; /* Full width */
    height: 300px; /* Full height */
    margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentuu {
    margin: 0;
    display: block;
    width: 100%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    /* color: yellow; */
    padding: 10px 0;
    height: 35px;
}

/* Add Animation */
.mySlidesuu, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closeuu {
    position:absolute;
    top: 0%;
    right: 2%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
    /* background-color: tomato; */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

  .closeuu:hover,
  .closeuu:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    
    
    .mySlidesuu {
        display: none;
    transition: .5s ease;
  }

  .prevuu,
  .nextuu {
      cursor: pointer;
    position: fixed;
    top: 55%;
    width: 2%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 150%;
    border-radius: 0 3px 3px 0;
    /* background: rgb(48, 62, 82); */
    user-select: none;
    -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
  .nextuu {
    right: 20%;
    border-radius: 3px 0 0 3px;
  }
  
  .numbertext {
      color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-containeruu {
      font-family:monospace;
    font-size: 20px;
    text-align: center;
    background-color: rgb(65, 64, 64);
    padding: 2px 0px;
    color: white;
}

/* 100% Image Width on Smaller Screens */


@media screen and (max-width: 1024px){
    h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px){
    .backgrounduu{
     margin-top: 5%;   
    }
    .containeruu{
        column-count: 3;
        width: 100%;
        padding: 5% 5%;
    }
    .modaluu{
        top: 15%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 45%;
    }

    .prevuu,
    .nextuu {
        top: 55%;
        width: 6%;
    }
    .nextuu{
        right: 5%;
    }
}

@media screen and (max-width: 425px){
    
.backgrounduu{
    top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
    .containeruu{
        column-count: 2;
        padding: 5% 5%;
    }
    .modaluu{
        margin-top: 20%;
        top: 5%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 22%;
    }
    .prevuu,
    .nextuu {
        top: 45%;
        width: 9%;
    }
    .caption-containeruu{
        font-size: 11px;
    }
    h1{
        font-size: 12px;
    }
}

@media screen and (max-width: 375px){
.containeruu{
    column-count: 1;
    width: 100%;
    padding: 5% 5%;
}
.caption-containeruu{
    padding: 1px 0px;
    font-size: 11px;
}
h1{
    font-size: 15px;
}
.modaluu{
    top: 7%;
    height: 8%;
}
.prevuu,
.nextuu {
    top: 42%;
}
}

@media screen and (max-width: 320px){
    .backgrounduu   {
        width: 100%;
        padding: 5% 5%;
    }
    .caption-containeruu{
        width: 100%;
        padding: 0px 0px;   
        font-size: 10px;
    }
    h1{
        font-size: 15px;
    }
    .modaluu{
        top: 7%;
        height: 8%;
    }
    .prevuu,
    .nextuu {
        top: 38%;
    }
    }
      