@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

  
  :root {
    --box-x-padding: 2rem;
    --box-y-padding: 2rem;
  }
  @media (min-width: 40em) {
    :root {
      --box-y-padding: 4rem;
    }
  }
  @media (min-width: 60em) {
    :root {
      --box-x-padding: 3rem;
      --box-y-padding: 6rem;
    }
  }
  @media (min-width: 40em) {
    section {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 4fr 4fr 5fr;
      grid-template-areas: '. . title' 'img img content' 'img img .';
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      box-shadow: 0 0.2em 1.2em rgba(53, 51, 50, 0.3);
      
     
    }
    section::after {
      content: '';
      grid-column: 2/-1;
      grid-row: 1/3;
      position: relative;
      z-index: -1;
      background: #fff;
      box-shadow: 0 0.2em 1em rgba(70, 56, 49, 0.2);
    }
    .h1 {
      grid-area: title;
      padding-top: var(--box-y-padding);
      padding-left: var(--box-x-padding);
    }
    .content-card {
      grid-area: content;
      padding-bottom: var(--box-y-padding);
      padding-left: var(--box-x-padding);
      padding-right: var(--box-x-padding);
     
      
     
    }
    .img {
      grid-area: img;
    }
  }
  
  html {
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    background-color: #f5f5f5;
  }

  section {
    padding: 1em;
    
  }
  section{
      background: white;
     }
  .h1 {
    font-size: 3em;
    margin: 0 0 1rem;
    
    color: white;
    position: relative;
    background: #2d2d2d;
    font-family: 'Merriweather', serif;
  }
  .h1::after {
    content: '';
    position: absolute;
    width: 6rem;
    background-color: #ccc;
    height: 30px;
    top: 0;
    left: 0;
  }
  @media (min-width: 40em) {
    h1::after {
      left: var(--box-x-padding);
      top: var(--box-y-padding);
    }
  }
  .content-card {
    color: #4d4d4d;
    margin-bottom: var(--box-y-padding);
    margin-left: 20px;
  }
  @media (min-width: 40em) {
    .content-card {
      margin-bottom: 0;
      
    }
  }
  p {
    margin-top: 0;
    margin-bottom: var(--box-y-padding);
    line-height: 1.5;
    padding:15px ;
   
  }
  .content-card a {
    text-decoration: none;
    border: 1px solid #b3b3b3;
    border-radius: 1em;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: inherit;
    display: inline-block;
    background-color: #fff;
   

 
  }
  .img {
    position: relative;
  }
  .img a {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    box-shadow: 0 0.2em 1.2em rgba(53, 51, 50, 0.3);
  }
  .attribution {
    position: relative;
    bottom: 0;
    right: 0;
    background-color: #ea4c89;
    color: #fff;
    padding: 0.5em 1em;
  }
  .container .icons{
    position: relative;
    margin-top: -25%;
    
    
    list-style: none;
  }

  .ebtextc{
    color: white;
  }
  