@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
  background: url('newimage/background.jpg');
  background-size:contain ;
}
.Team{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  padding: 50px;
  text-align: center;
  background: url('background.jpg');
  background-size:contain ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  font-family: 'Merriweather', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.containeru{
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 10% auto;
  border-radius: 50%;
  margin-bottom: 10%;
  
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
  background: #2d2d2d;
  margin: 5%;
}
.containeru:hover{
  height: 470px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}
.containeru .wrapper img{
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.containeru:hover .wrapper img.active{
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
.wrapper .title{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}
.wrapper .place{
  color: #fff;
  font-size: 17px;
  line-height: 0px;
  margin: 10px 0;
}
.content{
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px!important;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.containeru .icons{
  position: relative;
  margin-top: 2%;
  
  
  list-style: none;
}
.containeru .icons.active{
  display: none;
}
.containeru .icons li{
  height: 40px;
  width: 40px;
  margin: 10px 0;
  opacity: 0;
 
  margin-left: -100px;
  transition: all 0.5s ease;
}
.containeru:hover .icons li{
  opacity: 1;
  margin-left: 44.5%;
  margin-top: -12%;
  
}
.containeru:hover .icons li:nth-child(2){
  transition-delay: 0.2s;
}
.containeru:hover .icons li:nth-child(3){
  transition-delay: 0.4s;
}
.containeru .icons li a{
  color: #2d2d2d;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #fff;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
}
.containeru .icons li a:hover{
  transform: scale(0.9);
}



.forspace{
  padding: 20px;
}