body{
    background-color:rgba(243, 180, 55, 0.24);
}
img{
    border-radius: 50%;
}

.img1 {
    width:50%;
    text-align: center;
    padding: 20px;
}

.sid {
    width:50%;
    text-align: center;
}

.row1 {
    margin: 0;
    /*background-color:rgba(243, 240, 55, 0.822);*/
    padding-top: 10px;
    padding-bottom: 5px;
    text-align:center;
}

body p {
    color:#000000;
}

@media only screen and (max-width:935px) {
    .img1 {
        width:100%;
    }
    
    .sid {
        width:90%;
    }
    .row1 {
        width:100%;
        margin: 0;
        /*background-color:rgba(243, 240, 55, 0.822);*/
        padding-top: 0;
        padding-bottom:0;
    }
}

@media only screen and (max-width:800px) and (min-width:768px) {
    .sid {
        width:50.01%;
        padding:3%;
        margin:0 200px 0 0;
    }

    .sid1 {
        margin: 0 0 0 -200px;
    }

    .sid2 {
        margin: 0 200px 0 0;
    }

    .img1 {
        width:50%;
    }

    .row1 {
        margin: 0 0 0 105px;
    }
}

@media only screen and (max-width:767px) {
    .img1 {
        width:100%;
}
}